* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 15vh;
  animation: art 1s forwards;
}
.icon {
  background-color: white;
  box-shadow: rgba(11, 11, 46, 0.2) 0px 7px 29px 0px;
  padding: 18px !important;
}
.fbicon {
  font-size: 35px !important;
  color: navy;
}

@media (max-width: 768px) {
  .icon {
    font-size: 20px;
  }
  .row {
    flex-direction: row !important;

    width: 100% !important;
  }
  .main-header {
    flex-direction: row !important;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 643px) {
  .icon {
    font-size: 20px;
  }
  .row {
    flex-direction: column !important;
    width: 100% !important;
  }
  .main-header {
    flex-direction: column !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .icon {
    font-size: 0.5rem !important;
    padding: 5px !important;
  }
}
@media (max-width: 323px) {
  .icon {
    padding: 2px !important;
  }
}
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;

  z-index: -10;
  transform: 0.5s all;
}

.row {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  height: 200px;
  width: 300px;
  animation: koli 1.5s forwards;
}

@keyframes koli {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.box2 {
  height: 200px;
  width: 300px;
  animation: art 1.5s forwards;
}
@keyframes art {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  width: 280px;
  height: 400px;
  animation: anchor 1.5s forwards;
}

@keyframes anchor {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* profile css starts from here */

.profile-container {
  width: 280px;
  height: 400px;
  animation: profile 1.5s forwards;
}
@keyframes profile {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.profile {
  padding-top: 3rem;
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.save-contact-container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.save-contact {
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 1.3rem;
}
.call-icon {
  height: 58px;
  width: 58px;
  position: relative;
  left: 20px;
  bottom: 3px;
  background-color: seagreen;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.contact-btn button {
  width: 100%;
  height: 90%;
  border: none;
  background-color: seagreen;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  z-index: -1;
}

/* profile css ends here */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 2rem;
}
/* Header Css  Starts Here */
.refresh-button {
  padding: 5px 10px;
  border-radius: 20%;
  background-color: rgba(65, 62, 64, 0.503);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-button {
  padding: 8px 16px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  background-color: white;
  outline: none !important;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header .btn-close {
  padding: 3px !important;
  background-color: white;
}
.modal-content {
  background-color: black !important;
  color: white !important;
  line-height: 25px !important;
}

/* header css ends here */

/* home css starts from here  */
.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  z-index: -1;
}
.home-btn {
  border: none;
  background-color: seagreen;
  color: white;
  height: 35px;
  border-radius: 4px;
  width: 100px;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 1px 1px 4px black;
}

/* home css ends here  */

/* preloader css starts here  */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* preloader css ends here */
