*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;

}
.box1{
  height: 200px;
  width: 200px;
  background-color: red;
  margin-right:20px;
}
.box2{
  height: 200px;
  width: 200px;
  background-color: green;
}